= simple_form_for user do |f|
  - if user.errors.any?
    #error_explanation
      %h2= "#{pluralize(user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :name, label: t('user.name')
  .field
    = f.input :last_name, label: t('user.last_name')
  .field
    = f.input :birth_date, as: :date, start_year: Date.today.year - 60, end_year: Date.today.year - 6, label: t('user.birth_date')
  .field
    = f.input :school_class, label: t('user.school_class')
  .field
    = f.input :email, label: t('user.email')
  .field
    = f.input :admin, as: :boolean, checked_value: true, unchecked_value: false, label: t('user.admin')
  .actions
    = f.button :submit,t('record.create'), class: 'btn btn-sm btn-primary'
    = link_to t('record.back'), users_path, class: 'btn btn-sm btn-danger'
