%p
  %b #{t('user.name')}:
  = user.name
%p
  %b #{t('user.last_name')}:
  = user.last_name
%p
  %b #{t('user.birth_date')}:
  = user.birth_date
%p
  %b #{t('user.school_class')}:
  = user.school_class
%p
  %b #{t('user.email')}:
  = user.email
%p
  %b #{t('user.admin')}:
  = user.admin

= link_to t('record.edit'), edit_user_path(user), class: 'btn btn-sm btn-primary'
= link_to t('record.back'), users_path, class: 'btn btn-sm btn-primary'
