= simple_form_for result do |f|
  - if result.errors.any?
    #error_explanation
      %h2= "#{pluralize(result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :result_date, as: :date, label: t('result.result_date')
  .field
    = f.input :score, label: t('result.score')
  .field
    = f.association :user, include_blank: false, label_method: :to_label, label: t('result.user')
  .field
    = f.association :competition, include_blank: false, label: t('result.competition')
  .actions
    = f.button :submit, t('record.create'), class: 'btn btn-sm btn-primary'
    = link_to t('record.back'), results_path, class: 'btn btn-sm btn-danger'
