= simple_form_for @result do |f|
  - if @result.errors.any?
    #error_explanation
      %h2= "#{pluralize(@result.errors.count, "error")} prohibited this result from being saved:"
      %ul
        - @result.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.input :result_date, as: :date
  .field
    = f.input :score
  .field
    = f.input :user
  .field
    = f.input :competition
  .actions
    = f.button :submit
