%h1 Listing results

%table
  %tr
    %th Result date
    %th Score
    %th User
    %th Competition
    %th
    %th
    %th

  - @results.each do |result|
    %tr
      %td= result.result_date
      %td= result.score
      %td= result.user
      %td= result.competition
      %td= link_to 'Show', result
      %td= link_to 'Edit', edit_result_path(result)
      %td= link_to 'Destroy', result, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Result', new_result_path
