.panel.panel-primary
  .panel-heading= t('result.listing_results')

  %table.table.table-striped
    %thead
      %tr
        %th= t('result.result_date')
        %th= t('result.score')
        %th= t('result.user')
        %th= t('result.school_class')
        %th= t('result.competition')
        %th

    %tbodyccc
      - results.each do |result|
        %tr
          %td.col-md-2= result.result_date
          %td.col-md-2= result.score
          %td.col-md-2= result.user.to_label
          %td.col-md-1= result.user.school_class
          %td.col-md-3= result.competition.name
          %td.col-md-2
            = link_to t('record.show'), result, class: 'btn btn-xs btn-default'
            = link_to t('record.edit'), edit_result_path(result), class: 'btn btn-xs btn-default'
            = link_to t('record.destroy'), result, :method => :delete, :data => { confirm: t('record.confirmation') }, class: 'btn btn-xs btn-danger'

%br

= link_to t('result.new_result'), new_result_path, class: 'btn btn-sm btn-primary'
