%ul.nav.navbar-nav.pull-left
  %li= link_to t('navbar.results'), results_path
  %li= link_to t('navbar.users'), users_path
  %li= link_to t('navbar.competitions'), competitions_path
%ul.nav.navbar-nav.pull-right
  %li.navbar-text
    - if user_signed_in?
      = t('navbar.logged_in_as') + current_user.name + ' ' + current_user.last_name
      %li= link_to t('navbar.logout'), destroy_user_session_path, method: :delete
    - else
      %li
      %li= link_to t('navbar.login'), new_session_path(resource_name), class: 'glyphicon glyphicon-log-in'
